@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.App {
  min-height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.hide {
  display: none
}

.show {
  display: block;
}

p {
  text-align: left;
}

.alignRight p {
  text-align: right;
}

h2 {
  padding: 50px 0;
  background-color: #003b46;
  color: white;
  margin: 0;
}

span {
  font-size: 1.3rem
}

.rounded img {
  border-radius: 20px;
}

/* Start Screen */

#startScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

#startScreen h2 {
  width: 100%;
  position: absolute;
  top: 0;
}

form {
  border: 2px solid #003b46;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 300px;
}

#password {
  border: none;
  padding: 0 10px;
  flex: 2;
  height: 50px;
  background: none;
  outline: none;
  color: #003b46;
}

#password::placeholder {
  color: rgb(185, 185, 185);
}

#submitButton {
  width: 80px;
  height: 50px;
  border: none;
  background-color: #003b46;
  outline: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.errorMessage {
  color: rgb(190, 2, 2);
  text-align: center;
}

/* Message */

#titlePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, #c4dfe6, #003b46);
}

#title {
  font-size: 8rem;
  color: #003b46;
  font-family: "Kaushan Script"
}

#abstract {
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#arrow {
  position: absolute;
  bottom: 30px;
  border: solid #b8b8b8;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Slider */

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.sliderArrow {
  border: solid #66a5ad;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}

#leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#rightArrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dressImage {
  width: 40%;
  margin: 10px 0;
}

.dressImage img {
  width: 100%;
}

/* Years */

.stepContainer {
  padding: 40px 0;
  /* background-color: #5bc8ac */
  background-color: #66a5ad;
  color: white;
}

.stepContainer:nth-child(even) {
  /* background-color: #8cd9c5; */
  background-color: #c4dfe6;
  color: black;
}

.step, .step-column {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.step-column p {
  width: 60%;
  margin: 0 auto;
}

.imageContainer {
  width: auto;
  height: 70%;
}

.imageContainer img {
  width: auto;
  height: 200px;
}

.description {
  width: 40%;
}

.skinnyImage img {
  height: 300px;
}

#finalMessage {
  min-height: 300px;
  background-color: #003b46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#finalMessage h2 {
  padding: 15px 0;
  background: none;
}

#finalMessage p {
  width: 60%;
  text-align: center;
}

  /* 2020 */

#zooImage {
  width: 40%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px
}

#zooImage img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

#partyImage {
  width: 40%;
  height: auto;
}

#partyImage img {
  width: 100%;
  height: auto;
}

/* Portrait Phones */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: portrait) {

    .alignRight p {
      text-align: left;
    }

    .startScreen {
      justify-content: space-around;
    }

    /* Message */

    #title {
      font-size: 4rem;
      width: 80%;
      margin: 20px 0;
    }

    #abstract {
      width: 80%;
      font-size: 1.2rem;
    }

    #arrow {
      position: relative;
      margin-top: 40px;
    }

    /* Slider */

    .dressImage {
      width: 70%;
      margin: 10px 0;
    }

    .sliderArrow {
      border-width: 0 4px 4px 0;
    }

    /* Years */

    .description {
      width: 90%;
      text-align: left;
    }

    .imageContainer img {
      width: auto;
      height: 150px;
    }

    #zooImage {
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 30px
    }
    
    #zooImage img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }

    #redShell {
      margin: 20px;
    }

    #partyImage {
      width: 100%;
      height: auto;
      margin: 15px;
    }
    
    #partyImage img {
      width: 100%;
      height: auto;
    }

    .step-column p {
      width: 90%;
    }

    .reverseFlex {
      display: flex;
      flex-direction: column-reverse;
    }

    #finalMessage p {
      width: 80%;
    }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  input[type="password"] { font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  input[type="password"] { font-size: 16px; }
}


