.App {
  min-height: 100vh;
  text-align: center;
}

.hide {
  display: none
}

.show {
  display: block;
}

p {
  text-align: left;
}

.alignRight p {
  text-align: right;
}

h2 {
  padding: 50px 0;
  background-color: black;
  color: white;
  margin-bottom: 0;
}

.step-blue {
  /* background-color: #375e97; */
  background-color: #98dbc6;
  color: white
}

.step-red {
  /* background-color: #fb6542; */
  background-color: #5bc8ac;
  color: black
}

.step-yellow {
  /* background-color: #ffbb00; */
  background-color: #e6d72a;
}

.step-green {
  /* background-color: #3f681c; */
  background-color: #f18d9e;

}

/* Start Screen */

.errorMessage {
  color: red
}

/* Message */

.stepContainer {
  padding: 40px 0;
}

.step, .step-column {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-column p {
  width: 60%;
  margin: 0 auto;
}

.imageContainer {
  width: auto;
  height: 70%;
}

.imageContainer img {
  width: auto;
  height: 200px;
}

.description {
  width: 40%;
}

#zooImage {
  width: 40%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px
}

#zooImage img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}


