.App {
  min-height: 100vh;
  text-align: center;
}

.hide {
  display: none
}

.show {
  display: block;
}

p {
  text-align: left;
}

.alignRight p {
  text-align: right;
}

/* Start Screen */

.errorMessage {
  color: red
}

/* Message */

.stepContainer {
  padding: 40px 0;
  background-color: rgb(245, 245, 245);
}

.stepContainer:nth-child(odd) {
  background-color: #121212;
  color: white;
}

.step, .step-column {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-column p {
  width: 80%;
  margin: 0 auto;
}

.imageContainer {
  width: auto;
  height: 70%;
}

.imageContainer img {
  width: auto;
  height: 100%;
}

.description {
  width: 50%;
}

#zooImage {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

#zooImage img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
